@import "tailwindcss";

/* default light mood */
:root {
  --color-background: #f6f7f5;
  --color-cardBackground: #ffffff;
  --color-bordercolor: #d1d5dc;
  --color-primaryBlue: #3b82f6;
  --color-primaryBlue2: #1450af;
  --color-textColor: #6b7280;
  --color-textColor2: #0f172a;
  --color-textColor3: #000000;
  --color-idText: #c2b59b;
  --color-idHeader: #5c3623;
  --color-idborder: #2d2d2d;
}

/* dark mood */
/* [data-theme="dark"] {
  --color-background: #1a1a1a;
  --color-cardBackground: #2d2d2d;
  --color-bordercolor: #7c7d7e;
  --color-primaryBlue: #3b82f6;
  --color-primaryBlue2: #1450af;
  --color-textColor: #9ca3af;
  --color-textColor2: #f3f4f6;
  --color-textColor3: #ffffff;
  --color-idText: #c2b59b;
  --color-idHeader: #5c3623;
  --color-idborder: #2d2d2d;
} */

@theme {
  --color-background: var(--color-background);
  --color-cardBackground: var(--color-cardBackground);
  --color-bordercolor: var(--color-bordercolor);
  --color-primaryBlue: var(--color-primaryBlue);
  --color-textColor: var(--color-textColor);
  --color-textColor2: var(--color-textColor2);
  --color-textColor3: var(--color-textColor3);
  --color-primaryBlue2: var(--color-primaryBlue2);
  --color-idText: var(--color-idText);
  --color-idHeader: var(--color-idHeader);
  --color-idborder: var(--color-idborder);
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--color-background);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.9rem;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.s-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.9rem;
}
.new-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 0.9rem;
}
.icon-style {
  font-size: clamp(0.9rem, 2.5vw, 1.3rem);
}
.student-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.grade-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.56rem;
}
@media (max-width: 600px) {
  .student-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }
}

/* .grid {
  display: grid;
  grid-template-areas:
    "item-1 item-2"
    "item-1 item-3";
  place-items: justify;
} */

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
